<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">  

    <title>Login</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm">

            <h1>One Time Passcode</h1>
    
            <form id="otp" action="/otp" method="post">
                <div class="form-group">
                  <label for="otp_value">OTP Value</label>
                  <input type="otp_value" class="form-control" id="otp_value" name="otp_value">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="remember_my_device" name="remember_my_device" value="true">
                  <label class="form-check-label" for="remember_my_device">Remember My Device</label>
                </div>
                <div class="form-group">
                  <label for="username">username</label>
                  <input type="username" class="form-control" id="username" name="username" value="{{ username }}">
                </div>
                <div class="form-group">
                  <label for="deviceId">DeviceID</label>
                  <input type="deviceId" class="form-control" id="deviceId" name="deviceId">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
    
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>

    

    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.6.0.bundle.min.js') }}"></script>
    <script async src="{{ url_for('static', filename='fp.min.js') }}" onload="initFingerprintJS()"></script>


    <script>
        function initFingerprintJS() {
          FingerprintJS.load().then(fp => {
            // The FingerprintJS agent is ready.
            // Get a visitor identifier when you'd like to.
            fp.get().then(result => {
              // This is the visitor identifier:
              const visitorId = result.visitorId;
              console.log(visitorId);
              $("#deviceId").val(visitorId);
            });
          });
        }
      </script>
    
</body>
</html>



  

