<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">  

    <title>Unprotected Resource</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          
        </div>
        <div class="col-sm">

          <h1>Unprotected Resource</h1>
  
          <a href = "/login">Login</a>

        </div>
        <div class="col-sm">
          
        </div>
      </div>
    </div>




    <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.6.0.bundle.min.js') }}"></script>

  </body>
</html>