<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Cilent ID</td>
            <td>Username>/td<
            <td>Password</td>
            <td>Device ID</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["client_id"]}}</td>
               <td>{{row["username"]}}</td>
               <td> {{ row["password"]}}</td>
               <td>{{row['device_id']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>